<html>
    {{> head }}
    <body>
        <div class='exercise-tracker'>
            {{> title }}
            {{> user }}
            {{> exercise }}
        </div>
        <script defer src='./js/main.js'></script>
    </body>
</html>