<section class="fetch-user-info">
    <header>
        <i class="fa-solid fa-circle-info"></i>
        <h3>Fetch Details</h3>
        <i class="fa-solid fa-circle-info"></i>
    </header><!-- /header -->
    <div>
        <h5>* 
            <strong>GET User Exercise Log: </strong>
            <code>GET /api/users/:_id/logs?[from][&to][&limit]</code>
        </h5>
        <h5>* 
            <strong>[ ]</strong> = Optional
        </h5>
        <h5>* 
            <strong>From, To</strong>
            = Dates (YYYY-MM-DD);
            <strong>Limit </strong>
            = Number
        </h5>
    </div>
</section>